{% extends "@FOSUser/layout.html.twig" %}

{% block body %}{% endblock %}
{% block fos_user_content %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
            <div class="form-middle">
                {{ form_row(form.username, { 'attr': {'class': 'form-control'}, 'label': 'Gebruikersnaam'}) }}
                {{ form_row(form.email, { 'attr': {'class': 'form-control'}, 'label': 'email adres'}) }}
                {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'}, 'label': 'Wachtwoord'}) }}
                {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'}, 'label': 'Herhaal wachtwoord'}) }}

                <div class="button-container--center">
                    <input class="login--submit btn btn-lg btn-primary button--register" type="submit" value="registreren" />
                </div>

            </div>
    </div>
    <div class="col-sm-4"></div>
    {{ form_end(form) }}

{% endblock fos_user_content %}